.container-grid{
  display: grid;
  grid-template-rows: 20% 70% 10%;
}

.nav-menu div{
  text-align: right;
}
.navbar{
  display:inline-grid;
  grid-template-columns: auto fit-content(60%) auto;
}
.nav-item, .bottom{
  display: inline-block;
}

.logo-div{
  display:grid;
  grid-template-columns: auto [logo]fit-content(40%) auto;
}

.bottom-menu{
  display:inline-grid;
  grid-template-columns: auto fit-content(60%) auto;
}
