@import url('https://fonts.googleapis.com/css?family=Cinzel|Lacquer|Roboto&display=swap');

*{
  list-style: none;
  margin: 0;
  padding:0;
  text-decoration: none;
}

.green{

  color:green;
}

.red
{
  color:red;
}

.nav-menu{
background-color: black;
padding: .5rem 0;
}

.nav-item{
  color:white;
  font-family: 'Cinzel', serif;
  background-color: darkblue;
  font-size: 1.4rem;
  padding:.5rem;
  border: .5px gold solid;
}

.nav-item:hover{
color:rgb(243, 97, 97);
font-size: 1.45rem;
padding:.45rem;
}

.doggins-photo img{
max-width: 100%;
}

.logo-div{
  background-color: black;
}

